<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery/jquery.js}" type="text/javascript"></script>
</head>
</head>
<body>
<script th:src="@{/js/web/backoffice/curso/formcurso.js}" type="text/javascript"></script>
<div class="card">
    <div class="card-header text-bg-primary">
        Mantenimiento de Cursos
    </div>
    <div class="card-body">
        <button id="btnagregar" type="button" class="btn btn-primary">Agregar</button>
        <hr>
        <table id="tblcurso" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Curso</th>
                <th scope="col">Resumen</th>
                <th scope="col">Fecha Registro</th>
                <th scope="col">Docente</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curso : ${listacursos}">
                <td th:text="${curso.idcurso}"></td>
                <td th:text="${curso.nomcurso}"></td>
                <td th:text="${curso.resumen}"></td>
                <td th:text="${curso.fecharegistro}"></td>
                <td th:text="${curso.docente.nomdocente + ' ' + curso.docente.apedocente}"></td>
                <td>
                    <button type="button" class="btn btn-warning btnactualizar"
                            th:data-curcod="${curso.idcurso}"
                            th:data-curnom="${curso.nomcurso}"
                            th:data-resumen="${curso.resumen}"
                            th:data-fecreg="${curso.fecharegistro}"
                            th:data-curdoc="${curso.docente.iddocente}">Actualizar</button>
                    <form th:action="@{/curso/eliminar}" th:method="post" style="display: inline;">
                        <input type="hidden" th:name="id" th:value="${curso.idcurso}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal registro y actualizacion de producto -->
<div class="modal fade" id="modalcurso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtnomcurso">
                    <label for="txtnomcurso">Nombre del curso</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtresumen">
                    <label for="txtresumen">Resumen del curso</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="dtfecreg">
                    <label for="dtfecreg">Fecha Registro</label>
                </div>
                <div class="mb-3">
                    <label for="cbodocente" class="form-label">Seleccione docente</label>
                    <select id="cbodocente" class="form-select"></select>
                </div>
                <input type="hidden" id="hddcurcod" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>